<div class="container">
  <h1>Product Listing</h1>
  <form [formGroup]="productForm" (ngSubmit)="addProduct()">
    <mat-form-field>
      <input
        matInput
        placeholder="Product Name"
        formControlName="productName"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        placeholder="Description"
        formControlName="description"
        required
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Price" formControlName="price" required />
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">Add Product</button>
  </form>

  <div *ngFor="let product of products">
    <p>Product Name: {{ product.productName }}</p>
    <p>Description: {{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <button mat-button color="primary" (click)="editProduct(product)">
      Edit
    </button>
    <button mat-button color="warn" (click)="deleteProduct(product)">
      Delete
    </button>
  </div>

  <div *ngIf="editMode">
    <form [formGroup]="editProductForm" (ngSubmit)="updateProduct()">
      <mat-form-field>
        <input
          matInput
          placeholder="Product Name"
          formControlName="productName"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
          required
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Price" formControlName="price" required />
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit">
        Update Product
      </button>
      <button mat-flat-button color="warn" type="button" (click)="cancelEdit()">
        Cancel
      </button>
    </form>
  </div>
</div>
