<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title class="login-title">Quick-Click</mat-card-title>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            formControlName="username"
            placeholder="Enter Username"
            required
            autofocus
          />
          <mat-error
            *ngIf="loginForm.controls['username'].hasError('required')"
          >
            Username is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            type="password"
            placeholder="Enter Password"
            required
          />
          <mat-error
            *ngIf="loginForm.controls['password'].hasError('required')"
          >
            Password is required.
          </mat-error>
        </mat-form-field>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit">Login</button>
        </div>
      </form>
    </mat-card-content>

    <mat-card-actions>
      <p>Don't have an account? <a routerLink="/register">Register</a></p>
    </mat-card-actions>
  </mat-card>
</div>
