mat-card {
  margin: 2em auto;
  width: 100%;
  max-width: 400px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 1em;
}
