h2 {
  text-align: center;
}

.profile-container {
  padding: 20px;
  width: 500px;
  margin: 0 auto;
}

.profile-update-form {
  width: 100%;
  margin-bottom: 20px;
}

mat-card {
  padding: 20px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}
