<h2>Profile</h2>
<div class="profile-container">
  <mat-card>
    <form [formGroup]="profileForm" (ngSubmit)="onUpdate()">
      <mat-form-field class="profile-update-form">
        <input matInput placeholder="Username" formControlName="username" />
      </mat-form-field>

      <mat-form-field class="profile-update-form">
        <input matInput placeholder="Email" formControlName="email" />
      </mat-form-field>

      <div class="button-container">
        <button mat-button color="basic" type="submit">Update</button>
        <button mat-button color="basic" (click)="onDelete()">
          Delete Account
        </button>
      </div>
    </form>
  </mat-card>
</div>
